.header {
    height: 70px;
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 5;
    .header_items {
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_logo {
        width: 190px;
    }
    .header_right {
        height: 100%;
        display: flex;
        align-items: center;
        * {
            margin: 0 15px;
        }
        .header_category {
            border: none;
            outline: none;
            width: 75px;
        }
        .header_link {
            color: #000;
            font-weight: 500;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .header_btn {
            height: 30px;
            width: 120px;
            border-radius: 15px;
            border: none;
            background-color: #fff;
            box-shadow: 0 0 15px 5px gainsboro;
            font-weight: 500;
            color: $main-color;
        }
        .header_call {
            height: 35px;
            width: 35px;
            background-color: $main-color;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            transform: rotate(-360deg);
        }
        .header_language {
            border: none;
            outline: none;
            font-weight: 500;
        }
    }
}

.promo {
    height: 400px;
    width: 96%;
    background-color: $main-color;
    border-radius: 25px;
    margin: 0 auto;
    .promo_items {
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .promo_title, .promo_subtitle {
        color: #fff;
    }
    .promo_btns {
        display: flex;
        height: 35px;
        width: 320px;
        background-color: #fff;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        margin-top: 15px;
        button {
            height: 30px;
            border-radius: 15px;
            padding: 0 15px;
            border: none;
            background-color: #fff;
        }
        .promo_btn-active {
            color: #fff;
            background-color: orange;
            
        }
    }
    .promo_search {
        height: 55px;
        width: 85%;
        background-color: #fff;
        border-radius: 15px 0 0 15px;
        padding: 5px;
        display: flex;
        align-items: center;
        margin-top: 25px;
        form {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .promo_search-btn {
                height: 100%;
                width: 50px;
                border-radius: 5px;
                background-color: orange;
                color: #fff;
                border: none;
            }
            input {
                height: 100%;
                width: 95%;
                padding-left: 15px;
                border: none;
                outline: none;
            }
        }
    }
}

.catalog {
    height: 600px;
    width: 100%;
    .catalog_header {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        button {
            height: 30px;
            width: auto;
            padding: 0 20px;
            border-radius: 15px;
            background-color: #fff;
            border: 2px solid $main-color;
            color: $main-color;
        }
        .btn_active {
            background-color: $main-color;
            color: #fff;
        }
    }
    .catalog_content {
        height: 340px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                padding: 10px 0;
                img {
                    margin-right: 10px;
                }
                a {
                    color: #000;
                    text-decoration: none;
                    &:hover {
                        transition: 0.3s all;
                        color: $main-color;
                    }
                }
            }
        }
    }
    .catalog_btn {
        @include btn-style;
        transform: translateY(60px);
    }
}

.info {
    height: 600px;
    width: 100%;
    background: rgb(244, 244, 244);
    .info_items {
        height: 600px;
        width: 100%;
        padding-top: 35px;
    }
    .info_title {
        text-align: center;
        font-weight: 400;
    }
    .info_content {
        height: 400px;
        width: 100%;
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .card {
            height: 48%;
            width: 49%;
            background: rgb(244, 244, 244);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: none;
            .card_img {
                height: 166px;
                width: 166px;
            }
            .card_text {
                padding-top: 20px;
                padding-left: 20px;
            }
        }
    }
    .info_btn {
        @include btn-style;
        transform: translateY(25px);
    }
}

.advantages {
    height: 600px;
    width: 100%;
    .advantages_items {
        height: 600px;
        width: 100%;
        padding-top: 25px;
    }
    .advantages_title {
        text-align: center;
        font-weight: 400;
    }
    .advantages_content {
        height: 500px;
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .card {
            height: 48%;
            width: 49%;
            border-radius: 0;
            border-left: 5px solid $main-color;
            box-shadow: 0 0 15px 5px lightgrey;
            padding: 15px 10px 30px 35px;
            .card_img {
                height: 48px;
                width: 48px;
            }
            .card_text {
                margin-top: 10px;
                .card_title {
                    font-size: 25px;
                }
                .card_descr {
                    margin-top: 15px;
                }
            }
        }
    }
}

.mobile {
    height: 550px;
    width: 100%;
    .mobile_items {
        height: 550px;
        width: 100%;
        display: flex;
        .mobile_left {
            height: 100%;
            width: 50%;
            padding-top: 50px;
            .mobile_title {
                font-weight: 400;
            }
            .mobile_descr {
                font-size: 20px;
                margin-top: 20px;
            }
        }
        .mobile_right {
            height: 100%;
            width: 50%;
            background: url("../img/phone.png") center center/cover no-repeat;
        }
    }
}

.join {
    height: 300px;
    width: 100%;
    .join_content {
        height: 300px;
        width: 100%;
        border-radius: 35px;
        display: flex;
        .join_content-left {
            height: 100%;
            width: 50%;
            border-radius: 35px 0 0 35px;
            background: url("../img/bg-join.jpg") left center/cover no-repeat;
        }
        .join_content-right {
            height: 100%;
            width: 50%;
            border-radius: 0 35px 35px 0;
            background-color: $main-color;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .right_text {
                color: #fff;
                text-align: center;
                font-size: 22px;
            }
            .right_btn {
                @include btn-style;
                box-shadow: none;
            }
        }
    }
}

.answers {
    height: 630px;
    width: 100%;
    .answers_items {
        height: 630px;
        width: 100%;
        padding: 35px 0;
    }
    .answers_title {
        text-align: center;
        font-size: 37px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .answers_content {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .answers_content-left {
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            width: 100%;
            padding: 15px 0;
            display: flex;
            font-size: 18px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                border-radius: 5px;
                background-color: $main-color;
                color: #fff;
                text-decoration: none;
                font-size: 30px;
                padding-bottom: 4px;
                margin-right: 10px;
            }
        }
    }
    .answers_content-right {
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            width: 100%;
            padding: 15px 0;
            display: flex;
            font-size: 18px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                border-radius: 5px;
                background-color: $main-color;
                color: #fff;
                text-decoration: none;
                font-size: 30px;
                padding-bottom: 4px;
                margin-right: 10px;
            }
        }
    }
}

.footer {
    height: 400px;
    width: 100%;
    background-color: #353535;
    .footer_items {
        height: 400px;
        width: 100%;
        .footer_top {
            height: 50%;
            width: 100%;
            border-bottom: 1px solid gray;
            padding: 35px 0;
            display: flex;
            align-items: start;
            justify-content: space-between;
            .footer_title {
                color: gray;
                font-size: 27px;
                text-decoration: none;
                &:hover {
                    transition: 0.3s all;
                    color: #fff;
                }
                i {
                    color: $main-color;
                }
            }
            .footer_language {
                .footer_language-icon {
                    font-size: 20px;
                    color: $main-color;
                }
                select {
                    background-color: #353535;
                    border: none;
                    outline: none;
                    color: gray;
                }
            }
            .footer_list {
                list-style: none;
                li {
                    a {
                        text-decoration: none;
                        color: gray;
                        &:hover {
                            transition: 0.3s all;
                            color: #fff;
                        }
                    }
                }
            }
            .footer_social {
                color: gray;
                .footer_social-links {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    a {
                        font-size: 25px;
                        color: gray;
                        text-decoration: none;
                        &:hover {
                            transition: 0.3s all;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .footer_bottom {
            padding-top: 25px;
            .footer_app {
                font-size: 25px;
                color: gray;
            }
        }
    }
}